.body{
background-image:url('a.jpg');background-position: center center;
background-repeat: no-repeat; 
background-attachment: fixed; 
background-size: cover
}
.main{
border:1px solid black;position:absolute;top:40%;left:35%;background-color:rgb(92, 138, 138)
;height:300px;min-width:300px;
}
#reponse{
display:none;
}
div[id^=s]{
border: 1px solid red;float:left;width:40px;height:40px;font-size:30px;text-align:center;
}
